

.ft-12{ font-size: 12px;}
.ft-13{ font-size: 13px;}
.ft-14{ font-size: 14px;}
.ft-15{ font-size: 15px;}
.ft-16{ font-size: 16px;}
.ft-17{ font-size: 17px;}
.ft-18{ font-size: 18px;}
.ft-19{ font-size: 19px;}
.ft-20{ font-size: 20px;}
.ft-22{ font-size: 22px;}
.ft-25{ font-size: 25px;}
.ft-30{ font-size: 30px;}
.ft-35{ font-size: 35px;}
.ft-40{ font-size: 40px;}

.ft-20{  font-size: 20px;}
.ft-25{  font-size: 25px;}
.ft-28{  font-size: 28px;}
.ft-30{  font-size: 30px;}
.ft-35{  font-size: 35px;}
.ft-40{  font-size: 40px;}
.ft-45{  font-size: 45px;}
.ft-50{  font-size: 50px;}
.ft-55{  font-size: 55px;}
.ft-60{  font-size: 60px;}
.ft-70{  font-size: 70px;}
.ft-75{  font-size: 75px;}


.ft-xl-20{  @include media-breakpoint-down(xl){  font-size: 20px !important;  }  }
.ft-xl-25{  @include media-breakpoint-down(xl){  font-size: 25px !important;  }  }
.ft-xl-30{  @include media-breakpoint-down(xl){  font-size: 30px !important;  }  }
.ft-xl-35{  @include media-breakpoint-down(xl){  font-size: 35px !important;  }  }
.ft-xl-40{  @include media-breakpoint-down(xl){  font-size: 40px !important;  }  }
.ft-xl-45{  @include media-breakpoint-down(xl){  font-size: 45px !important;  }  }
.ft-xl-50{  @include media-breakpoint-down(xl){  font-size: 50px !important;  }  }
.ft-xl-55{  @include media-breakpoint-down(xl){  font-size: 55px !important;  }  }
.ft-xl-60{  @include media-breakpoint-down(xl){  font-size: 60px !important;  }  }

.ft-lg-20{  @include media-breakpoint-down(lg){  font-size: 20px !important;  }  }
.ft-lg-25{  @include media-breakpoint-down(lg){  font-size: 25px !important;  }  }
.ft-lg-30{  @include media-breakpoint-down(lg){  font-size: 30px !important;  }  }
.ft-lg-35{  @include media-breakpoint-down(lg){  font-size: 35px !important;  }  }
.ft-lg-40{  @include media-breakpoint-down(lg){  font-size: 40px !important;  }  }
.ft-lg-45{  @include media-breakpoint-down(lg){  font-size: 45px !important;  }  }
.ft-lg-50{  @include media-breakpoint-down(lg){  font-size: 50px !important;  }  }
.ft-lg-55{  @include media-breakpoint-down(lg){  font-size: 55px !important;  }  }
.ft-lg-60{  @include media-breakpoint-down(lg){  font-size: 60px !important;  }  }

.ft-md-12{  @include media-breakpoint-down(md){  font-size: 12px !important;  }  }
.ft-md-13{  @include media-breakpoint-down(md){  font-size: 13px !important;  }  }
.ft-md-14{  @include media-breakpoint-down(md){  font-size: 14px !important;  }  }
.ft-md-15{  @include media-breakpoint-down(md){  font-size: 15px !important;  }  }
.ft-md-16{  @include media-breakpoint-down(md){  font-size: 16px !important;  }  }
.ft-md-17{  @include media-breakpoint-down(md){  font-size: 17px !important;  }  }
.ft-md-18{  @include media-breakpoint-down(md){  font-size: 18px !important;  }  }
.ft-md-19{  @include media-breakpoint-down(md){  font-size: 19px !important;  }  }
.ft-md-20{  @include media-breakpoint-down(md){  font-size: 20px !important;  }  }

.ft-sm-12{  @include media-breakpoint-down(sm){  font-size: 12px !important;  }  }
.ft-sm-13{  @include media-breakpoint-down(sm){  font-size: 13px !important;  }  }
.ft-sm-14{  @include media-breakpoint-down(sm){  font-size: 14px !important;  }  }
.ft-sm-15{  @include media-breakpoint-down(sm){  font-size: 15px !important;  }  }
.ft-sm-16{  @include media-breakpoint-down(sm){  font-size: 16px !important;  }  }
.ft-sm-17{  @include media-breakpoint-down(sm){  font-size: 17px !important;  }  }
.ft-sm-18{  @include media-breakpoint-down(sm){  font-size: 18px !important;  }  }
.ft-sm-19{  @include media-breakpoint-down(sm){  font-size: 19px !important;  }  }
.ft-sm-20{  @include media-breakpoint-down(sm){  font-size: 20px !important;  }  }
.ft-sm-21{  @include media-breakpoint-down(sm){  font-size: 21px !important;  }  }
.ft-sm-22{  @include media-breakpoint-down(sm){  font-size: 22px !important;  }  }
.ft-sm-23{  @include media-breakpoint-down(sm){  font-size: 23px !important;  }  }
.ft-sm-24{  @include media-breakpoint-down(sm){  font-size: 24px !important;  }  }
.ft-sm-25{  @include media-breakpoint-down(sm){  font-size: 25px !important;  }  }

.ft-xs-12{  @include media-breakpoint-down(xs){  font-size: 12px !important;  }  }
.ft-xs-13{  @include media-breakpoint-down(xs){  font-size: 13px !important;  }  }
.ft-xs-14{  @include media-breakpoint-down(xs){  font-size: 14px !important;  }  }
.ft-xs-15{  @include media-breakpoint-down(xs){  font-size: 15px !important;  }  }
.ft-xs-16{  @include media-breakpoint-down(xs){  font-size: 16px !important;  }  }
.ft-xs-17{  @include media-breakpoint-down(xs){  font-size: 17px !important;  }  }
.ft-xs-18{  @include media-breakpoint-down(xs){  font-size: 18px !important;  }  }
.ft-xs-19{  @include media-breakpoint-down(xs){  font-size: 19px !important;  }  }
.ft-xs-20{  @include media-breakpoint-down(xs){  font-size: 20px !important;  }  }





.bold { font-weight: bold;}





.lh_45{ line-height: 45px;}
.lh-sm_22{ @include media-breakpoint-down(sm){line-height: 22px;}}