@import '../variable';
@import "../../../node_modules/bootstrap/scss/mixins";
@import './layout';
@import '../base/font';
@import '../base/typography';

#header{
    height: px-vw(100);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
    position: fixed;
    width: 100vw;
    background-color: white;
    padding: 0 px-vw(50) 0 px-vw(50);
    vertical-align: middle;
    box-shadow: 0px 3px 6px rgba(0,0,0, .1)
}

.logo-wrapper{
    height: 100%;
    max-height: 75px;
    margin: auto 0;
    img{
        height: 100%;
    }
}

.pc-nav{
    display: flex;
    justify-content: end;
    .nav-list{
        display: inline-flex;
        margin: auto 0;
        list-style: none;
    }
    
    .item-link{
        text-decoration: none;
        font-size: px-vw(25);
        color: $blue;
        font-family:Noto Sans JP;
        margin-right: px-vw(35);
    }

    .nav-btn{
        display: inline-flex;
        list-style: none;
        margin: auto 0;
        li{
            width: px-vw(250);
            height: px-vw(60);
            border-radius: px-vw(30);
            text-align: center;
            padding-top: px-vw(5);
            &.white-outline-btn{
                border: px-vw(3) solid $blue;
                margin-right: px-vw(10);
                a{
                    @extend .item-link;
                    margin: auto 0;
                }
                &:hover{
                    background-color: #c3ebfa;
                }
            }
            &.blue-fill-btn{
                background-color: $blue;
                color: white;
                a{
                    @extend .item-link;
                    color: white;
                    margin: 0;
                }
                &:hover{
                    background-color: #2caddb;
                }
            }
        }
    }
}


.sp-nav{
    display: none;
    .nav-mail{
        width: 70px;
        height: 70px;
        text-align: center;
        background-color: #F1F2F3;
        .mail-wrap{
            margin-top: 12px;
        }
        .toggler-name{
            font-size: 12px;
            margin-top: 5px;
            color: $blue;
        }
        &:hover{
            background-color: #e5e8eb;
        }
    }
    .nav-toggler {
        position: relative;
        z-index: 1;
        border: 0;
        background: #007AA8;
        border-radius: 0;
        height: 100%;
        width: 70px;
        cursor: pointer;      
        .icon-wrap{
            width: 45%;
            margin: 18px auto 0;
            .icon-bar {
                display: block;
                width: 100%;
                height: 3px;
                background: #fff;
                transition: .3s;
                &+.icon-bar{
                    margin-top: 5px;
                }
            }
        }
        .toggler-name{
            font-size: 12px;
            text-align: center;
            margin-top: 5px;
            color: #fff;
        }
    }
}




.nav-toggler:focus-within .nav-toggler {
    pointer-events: none;
}

.nav-toggler:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.nav-toggler:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}

.nav-toggler:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
}



@include media-breakpoint-down(lg){
    #header{
        height: 70px;
        padding: 0;
        .logo-wrapper{
            max-width: 200px;
            width: 100%;
        }
        .sp-nav{
            display: inline-flex;
        }
        .pc-nav{
            display: none;
        }
    }
}


section#top{
    min-height: 100vh;
    padding-top: px-vw(100);
    padding-bottom: 62px;
    background-color: $blue;
    .sns{
        display: flex;
        justify-content: space-between;
        .sns-description{
            width: px-vw(850);
            
            .sub-title{
                color: $blue;
                max-width: 570px;
                background-color: white;
            }
            
        }
        .img-wrap{
            width: px-vw(670);
            float: right;
            display: flex;
            align-items: center;
            img{
                max-height: 600px;
                object-fit: contain; 
                width: 100%; 
            }
            &.sp{display: none;}
        }
    }

    .download-btn-wrap{
        margin-top: 40px;
        @include media-breakpoint-down(sm){
            margin-top: 29px;
        }
    }
    
    @include media-breakpoint-down(lg){
        display: block;
        text-align: center;
        padding-top: 70px;
        .sns{
            .sns-description{
                width: 100%;
                .sub-title{
                    max-width: 100%;
                    margin: 0px 30px;
                }
            }
            .img-wrap{
                width: 100%;
                &.sp{display: block;}
                &.pc{display: none;}
            }
        }
    }
    @include media-breakpoint-down(sm){
        min-height: initial;
        padding-bottom: 29px;
        .img-wrap{
            height: 250px;
            margin-top: -20px;
            img{
                height: 100%;
                object-fit: contain;
            }
        }
    }
}


section#issue{
    padding-top: 150px;
    padding-bottom: 200px;
    background-color: #E9F3FF;
    @include media-breakpoint-down(sm){
        padding-top: 33px;
        padding-bottom: 39px;
    }
    .quiz{
        display: flex;
        margin: 60px 60px 0 60px;
        &-item{
            width: 33.33%;
            margin-right: px-vw(70);
            &:last-child{
                margin-right: 0px;
            }
            .quiz-mark{
                padding:30px 10px;
                border: 3px solid $blue;
                border-radius: 15px;
                font-weight: bold;
                text-align: center;
                position: relative;
                background-color: white;
                &::before{
                    border-color: #00A0E9 transparent transparent transparent;
                    border-style: solid;
                    border-width: 25px;
                    content: "";    
                    left: 50%;
                    margin-left: -15px;
                    position: absolute;
                    top: 100%;
                }
                &:after{
                    border-color: #ffffff transparent transparent transparent;
                    border-style: solid;
                    border-width: 22px;
                    content: "";    
                    left: 50%;
                    margin-left: -12px;
                    margin-top: -1px;
                    position: absolute;
                    top: 100%;
                }
            }
            .quiz-img-wrap{
                margin-top: 85px;
                text-align: center;
            }
            .quiz-desp{
                margin-top: 60px;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            .arrow-bottom{
                position: relative;
                margin-top: 60px;
                &:after{
                    border-color: #E83D1B transparent transparent transparent;
                    border-style: solid;
                    border-width: 25px;
                    content: "";    
                    left: 50%;
                    margin-left: -15px;
                    position: absolute;
                    top: 100%;
                }
            }
        }
     
    }
    .txt-solve{
        margin-top: 145px;
    }

    @include media-breakpoint-down(lg){
        .quiz{
            flex-direction: column;
            &-item{
                width: 100%;
            }
        }
    }
    @include media-breakpoint-down(sm){
        .quiz{
            margin: 25px 15px 0 15px;
            &-item{
                margin-right: 0px;
                margin-bottom: 55px;
                .quiz-mark{
                    padding: 15px 5px;
                    &::before{
                        border-width: 15px;
                    }
                    &:after{
                        border-width: 12px;
                    }
                }
                .quiz-img-wrap{
                    height: 135px;
                    margin-top: 18px;
                    img{
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .quiz-desp{
                    margin-top: 13px;
                    font-size: 16px;
                }
                .arrow-bottom{
                    margin-top: 31px;
                    display: none;
                    &:after{
                        border-width: 15px;
                    }
                }
                &:last-child{
                    margin-bottom: 0px;
                    .arrow-bottom{
                        display: block;
                    }
                }
            }
        }
        .txt-solve{
            margin-top: 46px;
        }
    }
}


section#about{
    background-color: #FBFBF8;
    padding-top: 150px;
    padding-bottom: 200px;
    .about-content{
        margin-top: 120px;
        display: flex;
        .l-content{
            width: px-vw(1020);
            .ttl-t1{
                @extend .txt_60;
                @extend .txt-sm_18;
                @extend .bold;
            }
            .ttl-t2, .ttl-t3, .ttl-t4{
                @extend .txt_30;
                @extend .txt-sm_12;
                @extend .lh_60;
                @extend .lh-sm_17;
                @extend .bold;
            }
            .ttl-t3, .ttl-t4{
                margin-top: 60px;
            }
        }
        .r-content{
            width: px-vw(500);
        }
    }

    @include media-breakpoint-down(xxl){
        .l-content br{ display: none;}
    }
    @include media-breakpoint-down(lg){
        padding-top: 70px;
        padding-bottom: 85px;
        .about-content{
            flex-direction: column-reverse;
            .l-content, .r-content{
                width: 100%;
            }
            .l-content{
                margin-top: 47px;
                text-align: center;
            }
            .r-content.img-wraper img{
                width: 300px; 
            }
        }
    }
    @include media-breakpoint-down(sm){
        .about-content{
            margin-top: 29px;
            .r-content.img-wraper img{
                max-width: 250px; 
                width: 100%;
            }
            .l-content{
                .ttl-t2, .ttl-t3, .ttl-t4{ 
                    margin-top: 30px; 
                    padding: 0px 20px;
                }
            }
        }
    }
}


section#reason{
    padding-top: 150px;
    padding-bottom: 200px;
    background-color: #E9F3FF;

    .reason-content{
        margin-top: 60px;
        .reason-item{
            display: flex;
            margin: 0 110px;
            margin-bottom: 42px;
            padding: 30px 0;
            min-height: 270px;
            position: relative;
            border-radius: 15px;
            border: 1px solid #707070;
            background-color: white;
            &:last-child{
                margin-bottom: 0;
            }
            .circle-num{
                display: flex;
                min-width: 240px;
                align-items: center;
                justify-content: center;
                .cir{
                    margin-left: px-vw(30);
                    border-radius: 50%;
                    width: 126px;
                    height: 126px;
                    background-color: $blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        color: white;
                        @extend .txt_80;
                        @extend .txt-sm_25;
                    }
                }
            }
            .reason-desp{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    @extend .txt_40;
                    @extend .txt-sm_20;
                    @extend .txt-red;
                    @extend .bold;
                }
                p{
                    margin-top: 10px;
                    @extend .txt_25;
                    @extend .txt-sm_16;
                }
            }
            .reason-img-container{
                min-width: 330px;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
        }
    }

    @include media-breakpoint-down(xxl){
        .reason-content .reason-item{
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-down(lg){
        .reason-content{
            margin-top: 75px;
        }
        .reason-content .reason-item{
            flex-direction: column-reverse;
            padding: 90px 30px 60px;
            margin-bottom: 60px;
            .circle-num{
                min-width: 100%;
                top: -38px;
                margin: 0 -30px;
                position: absolute;
                .cir{
                    margin-left: 0;
                    width: 75px;
                    height: 75px;
                }
            }
            .reason-img-container{
                min-width: 100%;
            }
            .reason-desp{
                h1{margin-top: 60px; text-align: center;}
                p{ margin-top: 40px; text-align: left;}
            }
        }
    }


    @include media-breakpoint-down(sm){
        padding-top: 65px;
        padding-bottom: 65px;
        .reason-content .reason-item{
            padding: 60px 15px 30px;
            .circle-num{
                margin: 0 -15px;
                top: -20px;
                .cir{
                    width: 40px;
                    height: 40px;
                }
            }
            .reason-desp{
                h1{margin-top: 30px;}
                p {margin-top: 20px;
                    line-height: 33px;
                }
            }
            .reason-img-container img{
                max-height: 120px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}


section#service{
    padding-top: 150px;
    padding-bottom: 200px;
    background-color: #FBFBF8;

    .abstract{
        margin-top: 60px;
        margin-left: px-vw(160);
        margin-right: px-vw(160);
        display: flex;
        justify-content: space-between;
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                margin-top: 24px;
                @extend .txt_25;
                @extend .txt-sm_16;
                @extend .bold;
            }
        }
    }

    .period{
        margin-top: 90px;
        &-item{
            min-height: 450px;
            background-color: white;
            box-shadow: 0 3px 20px #CBCBD4;
            padding-top: 60px;
            padding-bottom: 90px;
            position: relative;
            &:not(:last-child){
                margin-bottom: 90px;
            }
            &:nth-child(odd){
                margin-left: px-vw(-200);
                padding-left: px-vw(200);
                border-radius: 0 240px 240px 0;
            }
            &:nth-child(even){
                margin-right: px-vw(-200);
                padding-right: px-vw(200);
                flex-direction: row-reverse;
                border-radius: 240px 0 0 240px;
            }
            display: flex;
            .period-desp{
                width: 50%; 
                .p__title span{
                    padding: 0 50px;
                    width: 325px;
                    background-color: $blue;
                    color: white;
                    @extend .txt_60, .txt-sm_20;
                    @extend .bold;
                }  
                .p__sub_title{
                    margin-top: 25px;
                    @extend .txt_35, .txt-sm_18;
                    @extend .bold;
                    span{ @extend .txt-red; }
                }
                p{
                    margin-top: 25px;
                    @extend .txt_25, .txt-sm_16;
                }
                .p__link{
                    text-align: right;
                    text-decoration: none;
                    @extend .bold;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .period-img-container{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @include media-breakpoint-down(xxl){
        .abstract{
            margin-left: 0; 
            margin-right: 0;
        }
        .period-desp br{display: none;}
        .period-img-container img{
            max-width: 300px;
        }
    }
    @include media-breakpoint-down(lg){
        .abstract{
            flex-direction: column;
            &-item{
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .period{
            &-item{
                flex-direction: column-reverse; 
                &:not(:last-child){
                    margin-bottom: 60px;
                }
                &:nth-child(odd), &:nth-child(even){
                    border-radius: 0px;
                    padding: 90px 30px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
                &:nth-child(even){
                    flex-direction: column-reverse;
                }
                .period-desp{
                    width: 100%;
                    .p__title{
                        text-align: center;
                        position: absolute;
                        top: 70px;
                        width: 100%;
                        margin: -30px;
                    }
                }
                .period-img-container{ width: 100%;}
            }
        }
    }
    @include media-breakpoint-down(sm){
        padding-top: 70px;
        padding-bottom: 30px;
        .abstract{
            &-item{
                img{
                    max-height: 150px;
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
        .period{
            margin-top: 45px;
            &-item{
                &:not(:last-child){
                    margin-bottom: 35px;
                }
                &:nth-child(even), &:nth-child(odd){
                    padding: 75px 15px 35px;
                }
                .period-desp{
                    .p__title{
                        margin: 0 -15px;
                        top: 30px;
                        span{
                            padding: 0 10px;
                        }
                    }
                    .p__sub_title{ margin-top: 15px; }
                    p{ margin-top: 10px; }
                }
                .period-img-container img{
                    max-height: 150px;
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
}


section#price{
    background-color: $blue;
    padding-top: 60px;
    padding-bottom: 90px;

    .price-content{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        @extend .txt-white;
        @extend .bold;
        .txt-wrap{
            max-width: 800px;
            h2{
                line-height: 58px;
                @extend .txt_40, .txt-sm_18;
            }
            p{ 
                margin-top: 50px;
                @extend .txt_30, .txt-sm_12; 
            }
        }
    }

    @include media-breakpoint-down(lg){
        .price-content .txt-wrap{
            h2{
                text-align: center;
                line-height: initial;
                &:nth-child(1){
                    margin-bottom: 30px;
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        padding-top: 25px;
        padding-bottom: 25px;
        .price-content{
            margin-top: 32px;
            .txt-wrap{
                h2:nth-child(1){
                    margin-bottom: 18px;
                }
                p{ margin-top: 33px; }
            }
        }
    }
}