body {
  font-size: 16px;
  font-family: Noto Sans JP, "Hiragino Sans";
}

.download-btn {
  max-width: 656px;
  width: 100%;
  height: 113px;
  background-color: #FF7500;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: auto;
}

.download-btn span {
  font-size: 40px;
  font-weight: bold;
}

.download-btn .circle {
  position: absolute;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  right: 23px;
  background-color: white;
  font-size: 30px;
  color: #FF7500;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  .download-btn {
    width: 247px;
    height: 48px;
    border-radius: 10px;
  }
  .download-btn span {
    font-size: 15px;
  }
  .download-btn .circle {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  .download-btn {
    width: 100%;
  }
}

.title {
  font-family: "Noto Sans JP";
  text-align: center;
}

.title .main-title {
  font-weight: bold;
  font-size: 90px;
  margin-bottom: 0;
}

.title .sub-title {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 0;
}

.title .sub-title span {
  color: #0E96C9;
}

@media (max-width: 1199.98px) {
  .title .main-title {
    font-size: 70px;
  }
  .title .sub-title {
    font-size: 35px;
  }
}

@media (max-width: 991.98px) {
  .title .main-title {
    font-size: 50px;
  }
  .title .sub-title {
    font-size: 28px;
  }
}

@media (max-width: 575.98px) {
  .title .main-title {
    font-size: 35px;
  }
  .title .sub-title {
    font-size: 20px;
  }
}

.line-b-y {
  background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(0%, #FFFF00)) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #FFFF00 0%) repeat scroll 0 0;
}

.txt-blue {
  color: #0E96C9;
}

.txt-black {
  color: black;
}

.txt-white {
  color: white;
}

.txt-red {
  color: #E83D1B;
}

@media (min-width: 1200px) {
  .txt_28 {
    font-size: 28px;
  }
}

@media (max-width: 1199.98px) {
  .txt_28 {
    font-size: 26px;
  }
}

@media (max-width: 991.98px) {
  .txt_28 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .txt_30, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    font-size: 30px;
  }
}

@media (max-width: 1199.98px) {
  .txt_30, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    font-size: 25px;
  }
}

@media (max-width: 991.98px) {
  .txt_30, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .txt_35 {
    font-size: 35px;
  }
}

@media (max-width: 1199.98px) {
  .txt_35 {
    font-size: 30px;
  }
}

@media (max-width: 991.98px) {
  .txt_35 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .txt_40 {
    font-size: 40px;
  }
}

@media (max-width: 1199.98px) {
  .txt_40 {
    font-size: 35px;
  }
}

@media (max-width: 991.98px) {
  .txt_40 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .txt_60, section#about .about .l-content .ttl-t1 {
    font-size: 60px;
  }
}

@media (max-width: 1199.98px) {
  .txt_60, section#about .about .l-content .ttl-t1 {
    font-size: 50px;
  }
}

@media (max-width: 991.98px) {
  .txt_60, section#about .about .l-content .ttl-t1 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .txt_70 {
    font-size: 70px;
  }
}

@media (max-width: 1199.98px) {
  .txt_70 {
    font-size: 55px;
  }
}

@media (max-width: 991.98px) {
  .txt_70 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .txt_75 {
    font-size: 75px;
  }
}

@media (max-width: 1199.98px) {
  .txt_75 {
    font-size: 55px;
  }
}

@media (max-width: 991.98px) {
  .txt_75 {
    font-size: 40px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_12, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_14 {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_15 {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_16 {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_18, section#about .about .l-content .ttl-t1 {
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_20 {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_22 {
    font-size: 22px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_24 {
    font-size: 24px;
  }
}

@media (max-width: 575.98px) {
  .txt-sm_25 {
    font-size: 25px;
  }
}

.img-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-wraper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ft-12 {
  font-size: 12px;
}

.ft-13 {
  font-size: 13px;
}

.ft-14 {
  font-size: 14px;
}

.ft-15 {
  font-size: 15px;
}

.ft-16 {
  font-size: 16px;
}

.ft-17 {
  font-size: 17px;
}

.ft-18 {
  font-size: 18px;
}

.ft-19 {
  font-size: 19px;
}

.ft-20 {
  font-size: 20px;
}

.ft-22 {
  font-size: 22px;
}

.ft-25 {
  font-size: 25px;
}

.ft-30 {
  font-size: 30px;
}

.ft-35 {
  font-size: 35px;
}

.ft-40 {
  font-size: 40px;
}

.ft-20 {
  font-size: 20px;
}

.ft-25 {
  font-size: 25px;
}

.ft-28 {
  font-size: 28px;
}

.ft-30 {
  font-size: 30px;
}

.ft-35 {
  font-size: 35px;
}

.ft-40 {
  font-size: 40px;
}

.ft-45 {
  font-size: 45px;
}

.ft-50 {
  font-size: 50px;
}

.ft-55 {
  font-size: 55px;
}

.ft-60 {
  font-size: 60px;
}

.ft-70 {
  font-size: 70px;
}

.ft-75 {
  font-size: 75px;
}

@media (max-width: 1199.98px) {
  .ft-xl-20 {
    font-size: 20px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-25 {
    font-size: 25px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-30 {
    font-size: 30px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-35 {
    font-size: 35px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-40 {
    font-size: 40px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-45 {
    font-size: 45px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-50 {
    font-size: 50px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-55 {
    font-size: 55px !important;
  }
}

@media (max-width: 1199.98px) {
  .ft-xl-60 {
    font-size: 60px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-20 {
    font-size: 20px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-25 {
    font-size: 25px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-30 {
    font-size: 30px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-35 {
    font-size: 35px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-40 {
    font-size: 40px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-45 {
    font-size: 45px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-50 {
    font-size: 50px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-55 {
    font-size: 55px !important;
  }
}

@media (max-width: 991.98px) {
  .ft-lg-60 {
    font-size: 60px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-12 {
    font-size: 12px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-13 {
    font-size: 13px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-14 {
    font-size: 14px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-15 {
    font-size: 15px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-16 {
    font-size: 16px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-17 {
    font-size: 17px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-18 {
    font-size: 18px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-19 {
    font-size: 19px !important;
  }
}

@media (max-width: 767.98px) {
  .ft-md-20 {
    font-size: 20px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-12 {
    font-size: 12px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-13 {
    font-size: 13px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-14 {
    font-size: 14px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-15 {
    font-size: 15px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-16 {
    font-size: 16px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-17 {
    font-size: 17px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-18 {
    font-size: 18px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-19 {
    font-size: 19px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-20 {
    font-size: 20px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-21 {
    font-size: 21px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-22 {
    font-size: 22px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-23 {
    font-size: 23px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-24 {
    font-size: 24px !important;
  }
}

@media (max-width: 575.98px) {
  .ft-sm-25 {
    font-size: 25px !important;
  }
}

.ft-xs-12 {
  font-size: 12px !important;
}

.ft-xs-13 {
  font-size: 13px !important;
}

.ft-xs-14 {
  font-size: 14px !important;
}

.ft-xs-15 {
  font-size: 15px !important;
}

.ft-xs-16 {
  font-size: 16px !important;
}

.ft-xs-17 {
  font-size: 17px !important;
}

.ft-xs-18 {
  font-size: 18px !important;
}

.ft-xs-19 {
  font-size: 19px !important;
}

.ft-xs-20 {
  font-size: 20px !important;
}

.bold, section#about .about .l-content .ttl-t1, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
  font-weight: bold;
}

@media (min-width: 1400px) {
  .lh_45 {
    line-height: 45px;
  }
}

@media (max-width: 1399.98px) {
  .lh_45 {
    line-height: initial;
  }
}

@media (min-width: 1400px) {
  .lh_60, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    line-height: 60px;
  }
}

@media (max-width: 1399.98px) {
  .lh_60, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    line-height: initial;
  }
}

@media (max-width: 575.98px) {
  .lh-sm_22 {
    line-height: 22px;
  }
}

@media (max-width: 575.98px) {
  .lh-sm_17, section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    line-height: 17px;
  }
}

.mt_10 {
  margin-top: 10px;
}

.mt_15 {
  margin-top: 15px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_25 {
  margin-top: 25px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_35 {
  margin-top: 35px;
}

.mt_40 {
  margin-top: 40px;
}

.mt_45 {
  margin-top: 45px;
}

.mt_50 {
  margin-top: 50px;
}

.mt_55 {
  margin-top: 55px;
}

.mt_60 {
  margin-top: 60px;
}

.mt_65 {
  margin-top: 65px;
}

.mt_70 {
  margin-top: 70px;
}

.mt_75 {
  margin-top: 75px;
}

.mt_80 {
  margin-top: 80px;
}

.mt_85 {
  margin-top: 85px;
}

.mt_90 {
  margin-top: 90px;
}

.mt_95 {
  margin-top: 95px;
}

.mt_100 {
  margin-top: 100px;
}

.mb_0 {
  margin-bottom: 0px;
}

@media (max-width: 575.98px) {
  .mt-sm_0 {
    margin-top: 0px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_5 {
    margin-top: 5px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_10 {
    margin-top: 10px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_11 {
    margin-top: 11px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_12 {
    margin-top: 12px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_13 {
    margin-top: 13px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_14 {
    margin-top: 14px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_15 {
    margin-top: 15px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_16 {
    margin-top: 16px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_17 {
    margin-top: 17px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_18 {
    margin-top: 18px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_19 {
    margin-top: 19px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_20 {
    margin-top: 20px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_21 {
    margin-top: 21px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_22 {
    margin-top: 22px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_23 {
    margin-top: 23px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_24 {
    margin-top: 24px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_25 {
    margin-top: 25px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_26 {
    margin-top: 26px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_27 {
    margin-top: 27px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_28 {
    margin-top: 28px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_29 {
    margin-top: 29px !important;
  }
}

@media (max-width: 575.98px) {
  .mt-sm_30 {
    margin-top: 30px !important;
  }
}

@media (min-width: 576px) {
  .d-sm-none {
    display: block !important;
  }
}

@media (max-width: 575.98px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
}

#header {
  height: 5.20833vw;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10000;
  position: fixed;
  width: 100vw;
  background-color: white;
  padding: 0 2.60417vw 0 2.60417vw;
  vertical-align: middle;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.logo-wrapper {
  height: 100%;
  max-height: 75px;
  margin: auto 0;
}

.logo-wrapper img {
  height: 100%;
}

.pc-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.pc-nav .nav-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto 0;
  list-style: none;
}

.pc-nav .item-link, .pc-nav .nav-btn li.white-outline-btn a, .pc-nav .nav-btn li.blue-fill-btn a {
  text-decoration: none;
  font-size: 1.30208vw;
  color: #0E96C9;
  font-family: Noto Sans JP;
  margin-right: 1.82292vw;
}

.pc-nav .nav-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  margin: auto 0;
}

.pc-nav .nav-btn li {
  width: 13.02083vw;
  height: 3.125vw;
  border-radius: 1.5625vw;
  text-align: center;
  padding-top: 0.26042vw;
}

.pc-nav .nav-btn li.white-outline-btn {
  border: 0.15625vw solid #0E96C9;
  margin-right: 0.52083vw;
}

.pc-nav .nav-btn li.white-outline-btn a {
  margin: auto 0;
}

.pc-nav .nav-btn li.white-outline-btn:hover {
  background-color: #c3ebfa;
}

.pc-nav .nav-btn li.blue-fill-btn {
  background-color: #0E96C9;
  color: white;
}

.pc-nav .nav-btn li.blue-fill-btn a {
  color: white;
  margin: 0;
}

.pc-nav .nav-btn li.blue-fill-btn:hover {
  background-color: #2caddb;
}

.sp-nav {
  display: none;
}

.sp-nav .nav-mail {
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: #F1F2F3;
}

.sp-nav .nav-mail .mail-wrap {
  margin-top: 12px;
}

.sp-nav .nav-mail .toggler-name {
  font-size: 12px;
  margin-top: 5px;
  color: #0E96C9;
}

.sp-nav .nav-mail:hover {
  background-color: #e5e8eb;
}

.sp-nav .nav-toggler {
  position: relative;
  z-index: 1;
  border: 0;
  background: #007AA8;
  border-radius: 0;
  height: 100%;
  width: 70px;
  cursor: pointer;
}

.sp-nav .nav-toggler .icon-wrap {
  width: 45%;
  margin: 18px auto 0;
}

.sp-nav .nav-toggler .icon-wrap .icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.sp-nav .nav-toggler .icon-wrap .icon-bar + .icon-bar {
  margin-top: 5px;
}

.sp-nav .nav-toggler .toggler-name {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color: #fff;
}

.nav-toggler:focus-within .nav-toggler {
  pointer-events: none;
}

.nav-toggler:focus-within .icon-bar:nth-of-type(1) {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
          transform: translate3d(0, 8px, 0) rotate(45deg);
}

.nav-toggler:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

.nav-toggler:focus-within .icon-bar:nth-of-type(3) {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
          transform: translate3d(0, -8px, 0) rotate(-45deg);
}

@media (max-width: 767.98px) {
  #header {
    height: 70px;
    padding: 0;
  }
  #header .logo-wrapper {
    max-width: 200px;
    width: 100%;
  }
  #header .sp-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  #header .pc-nav {
    display: none;
  }
}

.container {
  padding-left: 10.41667vw;
  padding-right: 10.41667vw;
  max-width: 100%;
  margin: 0;
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#top {
  min-height: 100vh;
  padding-top: 5.20833vw;
  padding-bottom: 62px;
  background-color: #0E96C9;
}

#top .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top .sns .sns-description {
  width: 44.27083vw;
}

#top .sns .sns-description .sub-title {
  color: #0E96C9;
  max-width: 570px;
  background-color: white;
}

#top .sns .img-wrap {
  width: 34.89583vw;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top .sns .img-wrap img {
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

#top .sns .img-wrap.sp {
  display: none;
}

#top .download-btn-wrap {
  margin-top: 40px;
}

@media (max-width: 575.98px) {
  #top .download-btn-wrap {
    margin-top: 29px;
  }
}

@media (max-width: 767.98px) {
  #top {
    display: block;
    text-align: center;
    padding-top: 70px;
  }
  #top .sns .sns-description {
    width: 100%;
  }
  #top .sns .sns-description .sub-title {
    max-width: 100%;
    margin: 0px 30px;
  }
  #top .sns .img-wrap {
    width: 100%;
  }
  #top .sns .img-wrap.sp {
    display: block;
  }
  #top .sns .img-wrap.pc {
    display: none;
  }
}

@media (max-width: 575.98px) {
  #top {
    min-height: initial;
    padding-bottom: 29px;
  }
  #top .img-wrap {
    height: 250px;
    margin-top: -20px;
  }
  #top .img-wrap img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

#issue {
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: #E9F3FF;
}

@media (max-width: 575.98px) {
  #issue {
    padding-top: 33px;
    padding-bottom: 39px;
  }
}

#issue .quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 60px 0 60px;
}

#issue .quiz-item {
  width: 33.33%;
  margin-right: 3.64583vw;
}

#issue .quiz-item:last-child {
  margin-right: 0px;
}

#issue .quiz-item .quiz-mark {
  padding: 30px 10px;
  border: 3px solid #0E96C9;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  background-color: white;
}

#issue .quiz-item .quiz-mark::before {
  border-color: #00A0E9 transparent transparent transparent;
  border-style: solid;
  border-width: 25px;
  content: "";
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 100%;
}

#issue .quiz-item .quiz-mark:after {
  border-color: #ffffff transparent transparent transparent;
  border-style: solid;
  border-width: 22px;
  content: "";
  left: 50%;
  margin-left: -12px;
  margin-top: -1px;
  position: absolute;
  top: 100%;
}

#issue .quiz-item .quiz-img-wrap {
  margin-top: 85px;
  text-align: center;
}

#issue .quiz-item .quiz-desp {
  margin-top: 60px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#issue .quiz-item .arrow-bottom {
  position: relative;
  margin-top: 60px;
}

#issue .quiz-item .arrow-bottom:after {
  border-color: #E83D1B transparent transparent transparent;
  border-style: solid;
  border-width: 25px;
  content: "";
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 100%;
}

#issue .txt-solve {
  margin-top: 145px;
}

@media (max-width: 767.98px) {
  #issue .quiz {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #issue .quiz-item {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  #issue .quiz {
    margin: 25px 15px 0 15px;
  }
  #issue .quiz-item {
    margin-right: 0px;
    margin-bottom: 55px;
  }
  #issue .quiz-item .quiz-mark {
    padding: 15px 5px;
  }
  #issue .quiz-item .quiz-mark::before {
    border-width: 15px;
  }
  #issue .quiz-item .quiz-mark:after {
    border-width: 12px;
  }
  #issue .quiz-item .quiz-img-wrap {
    height: 135px;
    margin-top: 18px;
  }
  #issue .quiz-item .quiz-img-wrap img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #issue .quiz-item .quiz-desp {
    margin-top: 13px;
    font-size: 16px;
  }
  #issue .quiz-item .arrow-bottom {
    margin-top: 31px;
    display: none;
  }
  #issue .quiz-item .arrow-bottom:after {
    border-width: 15px;
  }
  #issue .quiz-item:last-child {
    margin-bottom: 0px;
  }
  #issue .quiz-item:last-child .arrow-bottom {
    display: block;
  }
  #issue .txt-solve {
    margin-top: 46px;
  }
}

section#about {
  background-color: #FBFBF8;
  padding-top: 150px;
  padding-bottom: 200px;
}

section#about .about {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#about .about .l-content {
  width: 53.125vw;
}

section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
  margin-top: 60px;
}

section#about .about .r-content {
  width: 26.04167vw;
}

@media (max-width: 1399.98px) {
  section#about .l-content br {
    display: none;
  }
}

@media (max-width: 767.98px) {
  section#about {
    padding-top: 70px;
    padding-bottom: 85px;
  }
  section#about .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section#about .about .l-content, section#about .about .r-content {
    width: 100%;
  }
  section#about .about .l-content {
    margin-top: 47px;
  }
  section#about .about .r-content.img-wraper img {
    width: 300px;
  }
}

@media (max-width: 575.98px) {
  section#about .about {
    margin-top: 29px;
  }
  section#about .about .r-content.img-wraper img {
    max-width: 250px;
    width: 100%;
  }
  section#about .about .l-content {
    margin-top: 47px;
    text-align: center;
  }
  section#about .about .l-content .ttl-t2, section#about .about .l-content .ttl-t3, section#about .about .l-content .ttl-t4 {
    margin-top: 30px;
    padding: 0px 20px;
  }
}

/*# sourceMappingURL=main.css.map */
